<!DOCTYPE html>

<html>

  <head>
     <title>Covenent Defense Systems</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Raleway:500|Ubuntu&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="orangeblue.css">

  </head>

  <body>

      <ul class="ulCustom light-blue darken-4">
        <li><a class="active" href="/">Covenent Defense Systems</a></li>
        <li><a href="/addWord">Add a Word</a></li>
        <li><a href="/english">English</a></li>

        <li class="right"><a href="/login" >Login</a></li>
      </ul>


      
          
          <div class="slider">
            <ul class="slides transparent ">
              <li>
                <img src="img/cs1.jpeg"> 
                <div class="caption center-align">
                  <h3 class="black-text ">Are Your Files Secure?</h3>
                  <h5 class="black-text">Secure Them Now</h5>
                </div>
              </li>
              <li>
                <img src="img/backup3.jpeg"> <!-- random image -->
                <div class="caption left-align">
                  <h3>Secure Cloud Storage</h3>
                  <h5 class="light grey-text text-lighten-3">We can keep your files safe</h5>
                </div>
              </li>
              <li>
                <img src="img/hacker.jpg"> <!-- random image -->
                <div class="caption right-align">
                  <h3><a href="https://www.ninjarmm.com/blog/small-business-cybersecurity-statistics-2019/">Statistics For Small Businesses</a></h3>
                  <h5 class="light grey-text text-lighten-3">Hackers are everywhere now</h5>
                </div>
              </li>
              
            </ul>
          </div>
      </div>



      <div class="container light-blue lighten-3">
        <h3>Why Us?</h3> 
        <div class="col s12 m12 l12">
          <div class="card light-blue lighten-3">
            
           
            <div class="card-action flow-text blue-grey-text text-darken-2">
              <p>With our software you can easily encrypt your files. In these days there are many threats to small businesses and our software will protect your sensitive documents.</p>
              <p>We have a free program to start encrypting your files and we have a more robust appication that is designed for businesses.</p>

            </div>
          </div>
        </div>
      
        
      </div>
    
<br>
           
    <div class="container light-blue lighten-3">
        <h3>Secure Your Files</h3> 
        <div class="row flex">
        
    
          <div class="col s12 m7 l4 light-blue lighten-3">
            <div class="card light-blue lighten-3">
              <div class="card-image">
                <img src="img/basic.png" alt="Not An Image" onerror="this.onerror=null;this.src='../public/uploads/noImg.gif';" >
              </div>
              <div class="card-content ">
                <h5>BASIC</h5>
              </div>
              <div class="card-action">

                <div class="row">
                  <div class="col s12 m7 l4">

                    <form action="/download" method="POST" >
                      <input type="hidden" name="title" value="CovenentDefenseBasic.exe"> 
                      <input type="submit" class="btn" value="Download"> 
                    </form>
                  </div>

                  <div class="col s12 m7 l4">
                    
                  </div>

                    <div class="col s12 m7 l4">
                    
                  </div>

                </div>
              </div>
            </div>
          </div>
<br>
          
          <div class="col s12 m7 l4 light-blue lighten-3">
            <div class="card light-blue lighten-3">
              <div class="card-image">
                <img src="img/mobile.png" alt="Not An Image" onerror="this.onerror=null;this.src='../public/uploads/noImg.gif';" >
              </div>
              <div class="card-content">
                <h5>MOBILE</h5>
              </div>
              <div class="card-action">

                <div class="row">
                  <div class="col s12 m7 l4">

                    <form action="/download" method="POST" >
                      <input type="hidden" name="title" value="CovenentDefensePremium.exe"> 
                      <input type="submit" class="btn" value="Android"> 
                    </form>
                  </div>

                  <div class="col s12 m7 l4">
                    
                  </div>

                    <div class="col s12 m7 l4">
                    
                  </div>

                </div>
              </div>
            </div>
          </div>



          <div class="col s12 m7 l4 light-blue lighten-3" >
            <div class="card light-blue lighten-3">
              <div class="card-image">
                <img src="img/premium.png" alt="Not An Image" onerror="this.onerror=null;this.src='../public/uploads/noImg.gif';" >
              </div>
              <div class="card-content">
                <h5>PREMIUM</h5>
              </div>
              <div class="card-action">

                <div class="row">
                  <div class="col s12 m7 l4">

                    <form action="/download" method="POST" >
                      <input type="hidden" name="title" value="CovenentDefensePremium.exe"> 
                      <input type="submit" class="btn" value="Get Now"> 
                    </form>
                  </div>

                  <div class="col s12 m7 l4">
                    
                  </div>

                    <div class="col s12 m7 l4">
                    
                  </div>

                </div>
              </div>
            </div>
          </div>

        
      </div>
              

</div>
 
<br>

<div class="container light-blue lighten-3">
    <div class="row flex">

      <h3>Save Copies of your most important files</h3> 
      <div class="col s6 m6 l6 light-blue lighten-3">
        <div class="card light-blue lighten-3">
          <div class="card-image">
            <img src="img/backup3.jpeg" alt="Not An Image" onerror="this.onerror=null;this.src='../public/uploads/noImg.gif';" >
          </div>
        
          <div class="card-action">

          <a class="btn">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col s6 m6 l6 light-blue lighten-3">
        <div class="card light-blue lighten-3">
          <div class="card-content flow-text blue-grey-text text-darken-2">
              <p>With our proprietary storage system you can keep your file safe in the cloud.</p>
              <br>
              <p>Learn more by watching our videos and reading how our system works.</p>

              <br>
              <a class="btn">Learn More</a>

            </div>
        
        
        </div>
      </div>

    </div>
</div>
<br>
    <ul class="ulCustom light-blue darken-4">
        <br>

      <li><a class="active" href="/">Covenent Defense Systems</a></li>
      <li><a href="/learn">Learn</a></li>
      <li><a href="/Tutorials">Tutorials</a></li>

      <li class="right"><a href="/login" >Login</a></li>
      <br>

    </ul>
    <br>


   <script>
     
      $(document).ready(function(){
        $('.slider').slider();
      });
          
   </script>
  </body>
</html>